.footer {
    background-color: #0c1b1b;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.footer-icons {
    margin: 10px 10px;
}

.footer-icon {
    margin: 10px 10px;
}

.footer-icon:hover {
    opacity: 0.7;
    filter: drop-shadow(1px 1px 15px #fff)
}

.footer-copyright p {
    margin: 10px 10px;
    font-size: 1rem;
    color: #ccc;
}